body {
    background-color: rgb(17, 24, 39) !important;
    background-image: radial-gradient(75% 75% at 50% 50%, #253745FF 0%, #0B111AFF 100%);
}

.email-form {
    display: flex;
    align-content: center;
    vertical-align: middle;
    align-items: flex-start;
}

.email-form input, button {
    height: 48px;
}

.email-form button {
    height: 48px;
    margin-top: 1px;
}
